{% extends 'base.html.twig' %}

{% block title %}Le café | A propos{% endblock %}

{% block body %}
    <main class="container d-flex flex-column align-items-center my-3">
        <h1 class="my-3 dancing-script text-secondary">À propos</h1>
        <img class="col-12 col-md-6 my-3" src="{{ asset('build/images/about/tasse-cafe.jpg') }}" alt="café"/>
        <p class="col-12 col-md-6 my-3">
            Le Café, conçu en 2022, a vocation à rassembler toutes les meilleures références de cafés au monde
            pour les mettres au service de vos sens.<br><br>
            Les cafés les plus purs et les plus luxueux ont été selectionnés pour vous avec une exigence éthique et gustative absolue.
        </p>
    </main>
{% endblock %}