{% extends 'base.html.twig' %}

{% block title %}Le café | Acceuil{% endblock %}

{% block body %}
<main class="container d-flex flex-column align-items-center my-5">
  <span class="d-flex align-items-center">
    <video class="rounded-circle" muted autoplay preload="auto" loop width="100%">
        <source src="{{ asset('build/images/homepage/sm-Coffee.mp4') }}" type="video/mp4" media="all and (max-width:768px)">
        <source src="{{ asset('build/images/homepage/lg-Coffee.mp4') }}" type="video/mp4"/>
    </video>
  </span>
  <h1 class="text-secondary my-5 dancing-script">Bienvenue !</h1>
  <p class="dancing-script fs-4 text-center">Découvrez et sélectionnez vos cafés préférés, il y en a pour tous les goûts !</p>
  <hr class="w-75 mx-auto my-5 text-secondary">
  <h3 class="text-secondary my-5 dancing-script">Des cafés de toutes les origines</h3>
  <div class="container my-5">
    <div id="slider">
      <div class="slick__item">
        <h3>Costa Rica</h3>
        <img src="{{ asset('build/images/homepage/slider/coffee-costa-rica.jpg') }}" alt="image costa rica" style="height: 10rem;"/>
      </div>
      <div class="slick__item">
        <h3>Ethiopie</h3>
        <img src="{{ asset('build/images/homepage/slider/coffee-ethiopie.jpg') }}" alt="image ethiopie" style="height: 10rem;"/>
      </div>
      <div class="slick__item">
        <h3>Nicaragua</h3>
        <img src="{{ asset('build/images/homepage/slider/coffee-nicaragua.jpg') }}" alt="image nicaragua" style="height: 10rem;"/>
      </div>
      <div class="slick__item">
        <h3>Brésil</h3>
        <img src="{{ asset('build/images/homepage/slider/coffee-bresil.jpg') }}" alt="image brésil" style="height: 10rem;"/>
      </div>
      <div class="slick__item">
        <h3>Kenya</h3>
        <img src="{{ asset('build/images/homepage/slider/coffee-kenya.jpg') }}" alt="image kenya" style="height: 10rem;"/>
      </div>
      <div class="slick__item">
        <h3>Colombie</h3>
        <img src="{{ asset('build/images/homepage/slider/coffee-colombia.jpg') }}" alt="image colombie" style="height: 10rem;"/>
      </div>
    </div>
  </div>
  <a href="{{ path('app_coffees') }}" class="btn btn-outline-secondary rounded-pill mb-5
  mt-3">Voir la liste complète</a>
</main>
{% endblock %}