{% extends 'base.html.twig' %}

{% block title %}Le café | Inscription{% endblock %}

{% block body %}
    <main 
        class="container d-flex flex-column align-content-center justify-content-center min-vh-custom"
    >
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1 class="dancing-script text-secondary text-center my-3">Inscription</h1>

        <div {{ react_component('RegistrationForm') }}></div>
    </main>
{% endblock %}
