{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <main class="container d-flex flex-column align-content-center justify-content-center min-vh-custom">
        <p>
            Si un compte avec cette adresse email existe, alors un email vient d'être envoyé à cette adresse, il contient un lien que vous pouvez utiliser pour changer votre mot de passe.
            Ce lien expirera dans 1 heure.
        </p>
        <p>
            Si vous ne reçevez pas d'email, pensez à vérifier la boîte de spam ou bien 
            <a class="text-secondary" href="{{ path('app_forgot_password_request') }}">réessayez</a>
            .
        </p>
    </main>
{% endblock %}
