<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins&display=swap" rel="stylesheet">
    <title>Changement de mot de passe</title>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #000;
            color: #fff;
        }
        h1 {
            font-family: 'Dancing script', sans-serif;
            color: #7D6608;
        }
        .container {
            margin: 50px auto 0 auto;
            width: 50vw;
        }
        p {
            margin: 1rem;
        }
        a {
          color: #7D6608;
        }
        .button {
            text-decoration: none;
            color: #fff;
            background-color: #7D6608;
            border-radius: 5px;
            padding: 5px 8px;
        }
        @media screen and (max-width: 768px) {
          h1 {
            text-align:center;
          }
          .container {
            width: 92vw;
          }
        }
        @media screen and (max-width: 992px) {
          h1 {
            text-align:center;
          }
          .container {
            width: 80vw;
          }
        }
    </style>
</head>
<body class="container">

  <h1>Bonjour!</h1>

  <p>Pour modifier votre mot de passe, cliquez sur le lien suivant</p>

  <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

  <p>Ce lien expirera dans 1 heure.</p>

  <p>A bientôt!</p>
{# 
</body>
</html> #}
