{% extends 'base.html.twig' %}

{% block title %}Le café | Mot de passe oublié{% endblock %}

{% block body %}
    <main class="container d-flex flex-column align-content-center justify-content-center min-vh-custom">
        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <h1 class="dancing-script text-secondary text-center my-3">Changement du mot de passe</h1>

        {{ form_start(requestForm, {'attr': {'class': 'col-12 d-flex flex-column align-items-center my-3'}}) }}
            <div class="form-group col-11 col-md-6 col-xxl-4 my-2">
                {{ form_label(requestForm.email) }}
                {{ form_widget(requestForm.email, {'attr': {'class': 'form-control'}}) }}
                <small>
                    Nous vous enverrons un lien pour modifier votre mot de passe.
                </small>
            </div>

            <button class="btn btn-secondary my-3">Reçevoir l'email</button>
        {{ form_end(requestForm) }}
    </main>
{% endblock %}
