{% extends 'base.html.twig' %}

{% block title %}Le café | Changement de mot de passe{% endblock %}

{% block body %}
    <main class="container d-flex flex-column align-content-center justify-content-center min-vh-custom">
        <h1 class="dancing-script text-secondary text-center my-3">Changement de mot de passe</h1>

        {{ form_start(resetForm, {'attr': {'class': 'col-12 d-flex flex-column align-items-center my-3'}}) }}

            <div class="form-group col-11 col-md-6 col-xxl-4 my-2">
                {{ form_row(resetForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
            </div>

            <button class="btn btn-secondary">Valider</button>
        {{ form_end(resetForm) }}
    </main>
{% endblock %}
