<navbar>
	<span class="menu__brand">Le café</span>
	<input type="checkbox" id="active">
	<label for="active" class="menu__btn">
		<span class="menu__btn--icon"></span>
	</label>
	{% if is_granted('ROLE_USER') %}
			<a href="{{ path('app_user_edit', {id: app.user.id}) }}" class="menu__log btn btn-outline-secondary rounded-pill">Mon compte</a>
	{% else %}
		<a href="{{ path('app_login') }}" class="menu__log btn btn-outline-secondary rounded-pill">Mon compte</a>
	{% endif %}

	<div class="menu__wrapper">
		<ul>
			<li><a href="{{ path('app_home') }}">Accueil</a></li>
			<li><a href="{{ path('app_about') }}">À propos</a></li>
			<li><a href="{{ path('app_coffees') }}">Les cafés</a></li>
			<li><a href="{{ path('app_my_coffees') }}">Favoris</a></li>
			<li><a href="{{ path('app_contact') }}">Contact</a></li>
		</ul>
	</div>
	<div class="navbar-box"></div>
</navbar>