{% extends 'base.html.twig' %}

{% block title %}Le café | Connexion{% endblock %}

{% block body %}

    <main class="container d-flex flex-column align-content-center justify-content-center min-vh-custom">
        {% if error %}
            <div class="text-center text-danger">Identifiants invalides</div>
        {% endif %}

        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <h1 class="dancing-script text-secondary text-center my-3">Connexion</h1>
        <form 
            action="{{ path('app_login') }}"
            method="post"
            class="d-flex flex-column align-items-center my-3"
        >
            <a 
                href="{{ path('app_register') }}"
                class="text-secondary my-2"
            >
                Pas encore inscrit? Inscrivez-vous
            </a>
            
            <div class="form-group col-11 col-md-6 col-xxl-4 my-2">
                <label for="username" class="form-label">Email</label>
                <input type="text" class="form-control col-2" id="username" name="_username" value="{{ last_username }}">
            </div>
            <div class="form-group col-11 col-md-6 col-xxl-4">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" class="form-control col-2" id="password" name="_password">
            </div>

            <a 
                href="{{ path('app_forgot_password_request') }}"
                class="text-secondary my-2"
            >
                J'ai oublié mon mot de passe
            </a>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {# If you want to control the URL the user is redirected to on success
            <input type="hidden" name="_target_path" value="/account"> #}

            <button type="submit" class="btn btn-secondary my-3">Valider</button>
        </form>
    </main>

{% endblock %}
