.navbar-box {
  min-height: 14vh;
}

.menu__wrapper{
  position: fixed;
  top: 0;
  left: 0;
  height: 14vh;
  width: 100%;
  background: #000;
  transition: all 0.3s ease-in-out;
  font-family: $oswald;
  z-index: 99;
}
.menu__brand {
  display: flex;
  align-items: center;
  position: absolute;
  height: 14vh;
  left: 20px;
  font-size: 50px;
  color: $secondary;
  font-family: $dancing-script;
  z-index: 999;
}
.menu__btn {
  display: none;
}
.menu__log {
  position: absolute;
  right: 20px;
  top: 5%;
  z-index: 999;
}
#active:checked ~ .menu__wrapper{
  clip-path: circle(75%);
}
.menu__wrapper ul{
  display: flex;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  padding-left: 0;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.menu__wrapper ul li{
  display: flex;
  white-space: nowrap;
  justify-content: center;
  margin: 15px 0;
}
.menu__wrapper ul li a{
  text-decoration: none;
  font-size: 28px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  background: #000;
  position: relative;
  transition: all 0.3s ease;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.1em;
    bottom: 0;
    left: 0;
    background-color: $secondary;
    transition: opacity 300ms, transform 300ms;
    opacity: 0;
    transform: scale(0);
    transform-origin: center;
  }
  &:hover::after {
    opacity: 1;
    transform: scale(1);
  }
}

navbar input[type="checkbox"]{
  display: none;
}

@keyframes rotate {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}

@media screen and (max-width: 1200px) {
  .menu__wrapper {
    clip-path: circle(25px at 50% 75px);
    height: 100vh;
    background: transparent;
  }
  #active:checked ~ .menu__wrapper{
    background: $secondary;
  }
  .menu__wrapper ul {
    display: block;
  }
  .menu__brand {
    display: inline;
    top: 50px;
    font-size: 35px;
  }
  .menu__btn{
    display: inline-block;
    position: absolute;
    z-index: 999;
    right: calc(50% - 25px);
    /* left: 20px; */
    top: 53px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: $secondary;
    transition: all 0.3s ease-in-out;
  }
  .menu__log {
    top: 58px;
  }
  #active:checked ~ .menu__btn{
    color: #fff;
    position: fixed;
  }
  #active ~ .menu__btn .menu__btn--icon:before{
    content: "☰";
  }
  #active:checked ~ .menu__btn .menu__btn--icon:before{
    content: "✖";
  }
  .menu__wrapper ul li a:after{
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    width: 104%;
    height: 110%;
    left: -2%;
    top: -5%; /* if the font is 'Oswald'*/
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    animation: rotate 1.5s linear infinite;
    transition: transform 0.3s ease;
  }
  .menu__wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
}