#wrap {
  display: inline-block;
  position: relative;
}

.search__icon {
  position: absolute;
  top: 50%;
  right: 3%;
  z-index: -1;
}

#wrap input[type="text"] {
  height: 100%;
  display: inline-block;
  border: none;
  outline: none;
  color: $light;
  padding: 10px 40px;
  width: 0px;
  background: none;
  z-index: -1;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
  &:focus {
    width: 65vw;
    z-index: -1;
    border-bottom: 1px solid $secondary;
    cursor: text;
  }
  &:focus:hover {
    border-bottom: 1px solid $secondary;
  }
}

@media screen and (min-width: 645px) {
  #wrap input[type="text"]:focus {
    width: 55vw;
  }
}

@media screen and (min-width: 1200px) {
  #wrap input[type="text"]:focus {
    width: 45vw;
  }
}

@media screen and (min-width: 1900px) {
  #wrap input[type="text"]:focus {
    width: 30vw;
  }
}

@media screen and (min-width: 2500px) {
  #wrap input[type="text"]:focus {
    width: 20vw;
  }
}