@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";


.slick__item {
  font-family: $oswald;
  margin: 5px;
}

#slider {
  position: relative;
}

.prev_arrow {
  z-index: 2;
  position: absolute;
  bottom: 30%;
  left: -5%;
  width: 50px;
  height: 50px;
  background: $secondary;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
.next_arrow {
  z-index: 2;
  position: absolute;
  bottom: 30%;
  right: -5%;
  width: 50px;
  height: 50px;
  background: $secondary;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}