@import "./global.scss";
@import "./_navbar.scss";
@import "./_footer.scss";
@import "./_slick.scss";
@import "./_searchbar.scss";
@import "./card.scss";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary;
    color: $light;
    font-family: $text-font;
}

.dancing-script {
    font-family: $dancing-script;
}

// to center element without navbar and footer
.min-vh-custom {
    min-height: calc(100vh - 14vh - 74px);
}
