{% extends 'base.html.twig' %}

{% block title %}Le café | Liste des cafés{% endblock %}

{% block body %}
  <main class="container d-flex flex-column align-items-center my-3">
    <h1 class="my-3 dancing-script text-secondary">Liste des cafés</h1>
    <hr class="w-75 mx-auto my-5 text-secondary">
    <div 
      {{ react_component(
        'CoffeeList',
        {
          'favorites': app.user.favorites ?? [],
          'user': app.user.id ?? null
        }
      ) }} 
    >
    </div>
  </main>
{% endblock %}