<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Le café | Nouveau message</title>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #000;
            color: #fff;
        }
        .container {
            margin: 50px auto 0 auto;
            width: 50vw;
        }
        p {
            margin: 1rem;
        }
        @media screen and (max-width: 768px) {
            .container {
                width: 92vw;
            }
        }
        @media screen and (max-width: 992px) {
            .container {
                width: 80vw;
            }
        }
    </style>
</head>
<body class="container">
    <p>
        Message de {{ contact.firstname }} {{ contact.lastname ?? '' }}
    </p>
    <p>
        {{ contact.phone ?? '' }}
    </p>
    <p>
        {{ contact.email ?? '' }}
    </p>
    <p>
        {{ contact.message }}
    </p>
</body>
</html>