{% extends 'base.html.twig' %}

{% block title %}Le café | Contact{% endblock %}

{% block body %}
    <main class="container d-flex flex-column justify-content-center min-vh-custom my-3">
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <h1 class="my-3 dancing-script text-secondary text-center">Formulaire de contact</h1>
        <hr class="w-75 mx-auto my-5 text-secondary">
        <div {{ react_component('ContactForm') }}></div>
    </main>
{% endblock %}