<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Le café{% endblock %}</title>
        <meta name="description" content="Bienvenue sur Le café, pour retrouver vos cafés préferés et découvrir de nouvelles saveurs." />
        <link rel="icon" href="{{ asset('build/images/icon/icon-coffee.png') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}{% include 'layouts/_navbar.html.twig' %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% include 'layouts/_footer.html.twig' %}{% endblock %}
    </body>
</html>
