{{ form_start(form, {'attr': {'class': 'col-12 d-flex flex-column align-items-center my-3'}}) }}
    <div class="text-danger">
        {{ form_errors(form) }}
    </div>

    <div class="form-group col-11 col-md-6 col-xxl-4 my-2">
        {{ form_label(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button class="btn btn-secondary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
