{{ form_start(passwordForm, {'attr': {'class':"col-12 d-flex flex-column align-items-center my-3"}}) }}
    <div class="text-danger">
        {{ form_errors(passwordForm.password) }}
        {{ form_errors(passwordForm.plainPassword) }}
    </div>
    <div class="form-group col-11 col-md-6 col-xxl-4 my-2">
        {{ form_label(passwordForm.password, 'Ancien mot de passe') }}
        {{ form_widget(passwordForm.password, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(passwordForm.plainPassword, 'Nouveau mot de passe') }}
        {{ form_widget(passwordForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button class="btn btn-secondary">{{ button_label|default('Valider') }}</button>
{{ form_end(passwordForm) }}
