{% extends 'base.html.twig' %}

{% block title %}Le café | Mon compte{% endblock %}

{% block body %}
    <main class="container d-flex flex-column align-content-center justify-content-center min-vh-custom">

        <a href="{{ path('app_logout') }}" class="btn btn-outline-secondary rounded-pill align-self-end text-decoration-none mb-3">
            Déconnexion
            <i class="fa-regular fa-power-off"></i>
        </a>


        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <h1 class="dancing-script text-secondary text-center my-3">Mes informations personnelles</h1>

        <section class="d-flex flex-column align-items-center my-3 border border-secondary rounded">
            {{ include('user/_password_form.html.twig', {'button_label': 'Modifier'}) }}
        </section>

        <section class="d-flex flex-column align-items-center my-3 border border-secondary rounded">
            {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
        </section>

        <section class="d-flex flex-column align-items-center my-3">
            {{ include('user/_delete_form.html.twig') }}
        </section>
    </main>
{% endblock %}
